.color-primary {
  color: #00b2f8 !important; }

.color-primary-light {
  color: #e4f7ff !important; }

.color-success {
  color: #00d38d !important; }

.color-success-light {
  color: #eafff8 !important; }

.color-warning {
  color: #ffba00 !important; }

.color-warning-light {
  color: #fffaec !important; }

.color-danger {
  color: #fe694a !important; }

.color-danger-light {
  color: #fff0ed !important; }

.color-text-1 {
  color: #384660 !important; }

.color-text-2 {
  color: #909399 !important; }

.color-text-3 {
  color: #cfcfcf !important; }

.color-grey-1 {
  color: #2a2a2a !important; }

.color-grey-2 {
  color: #405A79 !important; }

.color-grey-3 {
  color: #4f6a8a !important; }

.color-grey-4 {
  color: #909399 !important; }

.color-grey-5 {
  color: #cfcfcf !important; }

.color-grey-6 {
  color: #ebecef !important; }

.color-grey-7 {
  color: #f5f7fa !important; }
