.mt-xsmall {
  margin-top: 8px !important; }

.mt-small {
  margin-top: 16px !important; }

.mt-base {
  margin-top: 24px !important; }

.mt-large {
  margin-top: 32px !important; }

.mt-xlarge {
  margin-top: 40px !important; }

.mr-xsmall {
  margin-right: 8px !important; }

.mr-small {
  margin-right: 16px !important; }

.mr-base {
  margin-right: 24px !important; }

.mr-large {
  margin-right: 32px !important; }

.mr-xlarge {
  margin-right: 40px !important; }

.mb-xsmall {
  margin-bottom: 8px !important; }

.mb-small {
  margin-bottom: 16px !important; }

.mb-base {
  margin-bottom: 24px !important; }

.mb-large {
  margin-bottom: 32px !important; }

.mb-xlarge {
  margin-bottom: 40px !important; }

.ml-xsmall {
  margin-left: 8px !important; }

.ml-small {
  margin-left: 16px !important; }

.ml-base {
  margin-left: 24px !important; }

.ml-large {
  margin-left: 32px !important; }

.ml-xlarge {
  margin-left: 40px !important; }
