@import './variables';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 3840px;
    min-width: 1200px;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family:'PingFang SC',"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    background: $app-background-color1;
    color: $app-text-1-color;
    line-height: 1;
}

ul,
ol {
    list-style: none;
}

a {
    color: $app-primary-color;
    text-decoration: none;

    &:hover {
        color: darken($app-primary-color, 5%);
    }
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.cover-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
